.body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    
}

p{
    font-size: 30px;
    font-weight: 20px;
}


.first-portion, .third-portion, .fourth-portion{
    display: flex;
    margin: 30px 50px;
    height: 600px;
}

.second-portion, .fifth-portion{
    margin: 40px 50px 200px;
    height: 600px;
}


.width-half{
    width: 45%;
    padding-left: 50px;
    padding-right: 50px;
    float: left;
}

.width-one-third{
    width: 30%;
    padding-left: 50px;
    padding-right: 50px;
    float: left;
}

.width-two-third{
    width: 67%;
    padding-left: 50px;
    padding-right: 50px;
    float: left;
}

img{
    width: 100%;
    height: 450px;
    float: left;
    border-radius: 25px;
}

footer{
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 50px;
    padding-top: 5px;
}

.left-border{
   border-left: 5px solid rgb(141, 7, 112);
}

.card{
    height: 500px;
    width: 30%;
    margin-right: 20px;
    margin-bottom: 30px;
    padding:10px;
    border-radius: 25px;
}

.mission{
    background-color: rgb(106, 205, 245);
    background-image: url(images/pictures/ben-kolde-bs2Ba7t69mM-unsplash.jpg);
    background-repeat: no-repeat;
    background-position:top center;
    background-size: 510px 250px;
    border-radius: 25px;
}

.vission{
    background-color: rgb(184, 173, 184);
    background-image: url(images/pictures/social-network-grid-bg17-1.jpg);
    background-repeat: no-repeat;
    background-position:top center;
    background-size: 510px 250px;
    border-radius: 25px;
}



.goal{
    background-color: rgb(124, 161, 175);
    background-image: url(images/pictures/marvin-meyer-SYTO3xs06fU-unsplash.jpg);
    background-repeat: no-repeat;
    background-position:top center;
    background-size: 510px 250px;
    border-radius: 25px;
}


.ecommerce{
    background-color: rgb(208, 233, 243);
    background-image: url(images/illustrators/vecteezy_online-shopping-on-phone-buy-sell-business-digital-web_4299835.jpg);
    background-repeat: no-repeat;
    background-position:top center;
    background-size: 510px 250px;
    border-radius: 25px;
}

.fintech{
    background-color: rgb(205, 236, 146);
    background-image: url(images/illustrators/vecteezy_modern-flat-design-isometric-background-of-blockchain-and_.jpg);
    background-repeat: no-repeat;
    background-position:top center;
    background-size: 510px 250px;
    border-radius: 25px;
}

.health{
    background-color:pink;
    background-image: url(images/illustrators/2215_R0lVIERBTiA1MDgtMjU.jpg);
    background-repeat: no-repeat;
    background-position:top center;
    background-size: 510px 250px;
    border-radius: 25px;
}


.card-contents{
    margin-top: 60%;
}
#focus-prompt{
    font-size: 60px;
    font-weight: 40px;
    margin-left: 20px;
}

.second-cards, .fifth-cards{
    display: flex;
    margin: 20px 50px;
}

#mission-name{
    color:rgb(250, 4, 45);
    font-size: 50px;
    font-weight: 30px;
    margin-left: 20px;
}

#explore{
    height: 60px;
    width: 250px;
    background-color:rgb(97, 104, 167);
    color: white;
    font-size: 20px;
    font-weight: 10px;
    border:1px solid rgb(97, 104, 167);
    border-radius: 15px;
}

.doc-passion, .doc-community{
    height: 60px;
    width: 400px;
    background-color:rgb(97, 104, 167);
    color: white;
    font-size: 20px;
    font-weight: 10px;
    border:1px solid rgb(97, 104, 167);
    border-radius: 15px;
}

#year{
    color:rgba(114, 114, 4, 0.918);
}

#second-heading, #fifth-heading{
    text-align: center;
    font-size: 50px;
    font-weight: 30px;
}

.general-heading{
    font-size: 40px;
    font-weight: 25px;
}

footer h1{
    font-style: italic;
    font-size: 50px;
    font-weight: 30px;
}